@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ECE3DB;
    --foreground: #CC5500;
    --card: #ECE3DB;
    --card-foreground: #777777;
    --popover: #ECE3DB; 
    --popover-foreground: #777777;
    --primary: #CC5500;
    --primary-foreground: #ECE3DB;
    --secondary: #ECE3DB;
    --secondary-foreground: #777777;
    --muted: #232b33;
    --muted-foreground: #2C3E50;
    --accent: #232b33;
    --accent-foreground: #f6f8fa;
    --destructive: #993a2e;
    --destructive-foreground: #f6f8fa;
    --border: #777777;
    --input: #ECE3DB;
    --ring: #CC5500;
    --radius: 0.75rem;
  }
}

* {
  border-color: hsl(var(--border));
}

body {
  color: #777777;
  background: #ECE3DB;
  font-feature-settings: "rlig" 1, "calt" 1;
}

html {
  scroll-behavior: smooth;
}


