@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFBEF;
    --foreground: #2C3E50;
    --card: #FFFBEF;
    --card-foreground: #8B4513;
    --popover: #FFFBEF; 
    --popover-foreground: #777777;
    --primary: #CC5500;
    --primary-foreground: #FFFBEF;
    --secondary: #FFFBEF;
    --secondary-foreground: #8B4513;
    --muted: #8FAA92;
    --muted-foreground: #2C3E50;
    --accent: #8FAA92;
    --accent-foreground: #f6f8fa;
    --destructive: #993a2e;
    --destructive-foreground: #f6f8fa;
    --border: #777777;
    --input: #FFFBEF;
    --ring: #CC5500;
    --radius: 0.75rem;
  }
}

.test-font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.test-font-poppins {
  font-family: 'Poppins', sans-serif;
}

.test-font-inter {
  font-family: 'Inter', sans-serif;
}

* {
  border-color: hsl(var(--border));
}

body {
  color: #2C3E50;
  background: #FFFBEF;
  font-feature-settings: "rlig" 1, "calt" 1;
}

html {
  scroll-behavior: smooth;
}


